*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color: rgb(236, 143, 109);
color: white;
font-family:sans-serif;
min-height: 100rem;
}

h1,
 form {
    display: flex;
    justify-content:center;
    align-items: center;
}

.checked{
    text-decoration: line-through;
    opacity: 0,5;
}